scipy==1.2.0
pytorch-ignite==0.1.2
PyYAML
albumentations
h5py
tensorboard
opencv-python
numpy
pandas
torch
Pillow
apex
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability